<div class="card m-4 p-1" style="width: 18rem;">
  <img class="card-img-top" src={{trip.image}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{trip.name}}</h5>
    <p class="card-text">Town: {{trip.city}}</p>
    <p class="card-text">Price: {{trip.price}}</p>
    <p class="card-text">From: {{trip.startDate | date: 'mediumDate' }} - To: {{trip.endDate | date: 'mediumDate'}}</p>

    <a [routerLink]="['/trip', trip.id]" class="btn btn-primary">Check it out!</a>
  </div>
</div>